body {
    background-color: #1F2937;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
}

a, .small-text, .call-to-action-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up-container {
    display: flex;
    padding: 80px;
    gap: 40px;
    justify-content: center;
}

.headline-text {
    font-size: 48px;
    font-weight: 900;
}

.text-and-button {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    flex-basis: 0;
    flex-grow: 1;
    gap: 5px;
}

.image-placeholder {
    background-color: #E5E7EB;
    color: black;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-text {
    padding-bottom: 10px;
}

.button-1 {
    background-color: #3882F6;
    color: #f9faf8;
    border: 2px solid #3882F6;
}

.button-1, .button-2 {
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 20px 5px 20px;
}

.random-info, .call-to-action {
    background-color: #f9faf8;
}

.random-info-flexbox {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-containers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 125px;
}

.random-info {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: space-around;
    padding: 60px 60px 100px;
}

.random-info-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.image-border {
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    align-self: center;
    margin-bottom: 20px;
}

.image-text {
    text-align: center;
    color: #1F2937
}

.quote-block {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 80px 150px;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
}

.quote-attribution {
    align-self: flex-end;
}

.quote-thor {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    align-self: center;
}

.call-to-action-block {
    background-color: #3882F6;
    display: flex;
    margin: 80px 120px;
    padding: 40px 100px;
    justify-content: space-between;
    border-radius: 10px;
}

.call-to-action-headline {
    font-weight: 900;
    font-size: 18px;
}

.call-to-action-subtext {
    font-weight: 400;
}

.button-2 {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
    border-radius: 8px;
}

.footer {
    text-align: center;
    padding: 20px;
}